/* Center the header */
header {
  text-align: center;
}

/* Center the image */
img {
  display: block;
  margin: 0 auto;
}

/* Style the navigation links */
nav a {
  padding: 10px;
  background-color: gray;  
  /* Change this to your preferred color */
  text-decoration: none;
  color: white;
  text-align: center;
}

/* Style the image caption */
figcaption {
  text-align: center;
  font-size: 14px;
}

/* Center text block and set width */
#featured-property p {
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

/* Make the #details section horizontal */
#details div {
  float: left;
  width: 25%; /* Each div occupies 25% width */
  text-align: center;
  background-color:red;
  padding: 10px;
  box-sizing: border-box;
}
